body {
    background-image: url(../img/swirl_pattern.jpg);
}
}

#logo, #main_title {
    display: inline-block;
}

#main_title {
    margin-top: 0px;
}

.panel {
    background-color: rgba(255, 255, 255, 0.65);
}

#logo {
    height: 50px;
}

.inline-form input {
  display: inline-block;
  width: 100px;