body {
    background-image: url(../img/swirl_pattern.jpg);
}

#logo, #main_title {
    display: inline-block;
}

#main_title {
    margin-top: 0px;
}

.panel, .list-group-item {
    background-color: rgba(255, 255, 255, 0.65);
}

.panel > .panel-heading{
    background-image: none;
    background-color: rgba(200, 200, 200, 0.05);
}

.badge {
    background-color: rgba(100, 100, 100, 0.2);
}

#logo {
    height: 50px;
}

#search_button {
    background-color: #C41B00;
    border-color: #C41B00;
}

.inline-form input {
    display: inline-block;
    width: 100px;
}

#panel_english, #panel_chinese {
    font-size: 170%;
}

footer {
    font-size: 80%;
}