body {
    background-image: url(../img/swirl_pattern.jpg);
}

#logo, #main_title {
    display: inline-block;
}

#main_title {
    margin-top: 0px;
}

.panel, .list-group-item {
    background-color: rgba(255, 255, 255, 0.65);
}

.panel > .panel-heading {
    background-image: none;
    background-color: rgba(200, 200, 200, 0.05);
}

.list-group-item a, .panel > .panel-heading a {
    color: #666666;
}

.badge, .label-default{
    background-color: #C41B00;
}

.label-info{
    background-color: #777777;
}

.badge a, .label-default a {
    color: #FFFFFF;
}

#logo {
    height: 50px;
}

.seal-btn {
    background-color: #C41B00;
    border-color: #C41B00;
}

.inline-form input {
    display: inline-block;
    width: 100px;
}

#panel_text {
    font-size: 170%;
}

#pinyin_small {
    font-size: 100%;
    color: #666666;
}

footer {
    font-size: 80%;
}

#id_honeypot {
    display: none;
}

.about-image-text {
    font-size: 50%;
}

.about-text {
    font-size: 120%;
}