{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>
        {% block title %}Stele Forest Home{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/texts_style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class ="container">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><img class="img-responsive" src="{% static 'img/stele_forest_characters.jpeg' %}" alt="碑林" id="logo"></img></li>
            <li class="active"><a href="#">Stele Forest</a></li>
            <li><a href="{% url "texts_list" %}">Home</a></li>
            <li><a href="{% url "texts_list" %}">Texts</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-right inline-form">
            <div class="form-group">
                <input type="search" class="input-sm form-control" placeholder="Search">
                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-tree-deciduous"></span> Search</button>
            </div>
        </form>
    </nav>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
    <footer>&copy; Mathias Le Borgne 2015</footer>
</div>
</body>
</html>