{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>
        Stele Forest - {% block title %}Home{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/texts_style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico" /><![endif]-->
</head>
<body>
<div class ="container">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><img class="img-responsive" src="{% static 'img/stele_forest_characters.jpeg' %}" alt="碑林" id="logo"></img></li>
            <li class="active"><a href="{% url "texts_list" %}">Stele Forest</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Content <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/home">Texts</a></li>
                    <li><a href="/authors">Authors</a></li>
                    {% if user.is_authenticated %}
                    <li role="separator" class="divider"></li>
                    <li><a href="/new_text">Add Text</a></li>
                    <li><a href="/create_author">Add Author</a></li>
                    {% endif %}
                </ul>
            </li>

            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "password_reset" %}">Reset Password</a></li>
                    <li><a href="/logout_then_login">Log Out</a></li>
                </ul>
            </li>
            {% else %}
                <li><a href="/log_in">Log In</a></li>
                <li><a href="/create_user">Sign Up</a></li>
            {% endif %}
            <li><a href="/about">About</a></li>
        </ul>
        <form class="navbar-form navbar-right inline-form" action="{% url "texts.views.search_texts" %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                <input name="keyword" type="search" class="input-sm form-control" placeholder="Search">
                <button type="submit" class="btn btn-primary btn-sm seal-btn"><span class="glyphicon glyphicon-tree-deciduous"></span> Search</button>
            </div>
        </form>
    </nav>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
    <footer>
        &copy; Mathias Le Borgne 2015 -
        <a href="mailto:mathias.leborgne@gmail.com">Contact</a> -
        <a href="https://github.com/mathiasleborgne/chinese-texts">GitHub</a>
    </footer>
</div>
</body>
</html>