{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h1>Ni hao!</h1>
<p>
    I love Chinese literature, and I like seeing the original Chinese text when reading some.
    I'll try to publish some of my favorite texts here, and it would be great if you could help.
    You can <a href="/create_user">sign up</a> to start adding the texts you love.
    So far we already have {{ texts_count }} texts!
</p>
<p>Thanks!</p>
<p>Mathias</p>
<p>PS: I'd love to <a href="mailto:mathias.leborgne@gmail.com">hear from you</a>!</p>

{% endblock %}