{% extends "base.html" %}
{% block title %}Poem - {{ text.title_chinese }}{% endblock %}
{% block content %}

<h2>
    {{ author.name_chinese }}
    <small>{{ author.name_pinyin }}
    {% if author.biography %} {{ author.year_birth }} - {{ author.year_death }}{% endif %}
    </small>
</h2>

{% if author.biography %}
    <p>
        {{ author.biography }} <br>
        <small>(Source: wikipedia)</small>
    </p>
{% endif %}

{% if user.is_authenticated %}
    <p><a href="{% url "update_author" author.id %}">Modify</a></p>
{% endif %}

<h2>Texts:</h2>

<ul class="list-group">
{% for text in texts|dictsort:"title_english" %}
    <li class="list-group-item">
        <span class="badge"><a href="{% url "read_text" text.id %}">Read</a></span>
        <a href="{% url "read_text" text.id %}">{{ text.title_english }}</a>
    </li>
{% empty %}
    <p>No text to display</p>
{% endfor %}
</ul>

{% endblock %}