{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>SteleForest: bilingual Chinese texts</h1>
<p class="home-text">Welcome to Stele Forest{% if user.is_authenticated %} {{ user.username }}{% endif %}!
   Here you will find some classical chinese texts, displayed in a pretty bilingual Chinese-English format.
   You can even <a href="{% url "new_text" %}">add your own texts</a>!
</p>

<p class="home-text">Here is a small selection of texts (you can see all texts <a href="{% url "texts_list" %}">here</a>).
</p>

<ul class="list-group">
{% for text in highlighted_texts %}
    <li class="list-group-item clearfix">
        <h3 class="list-group-item-heading">
            <a href="{% url "read_text" text.id %}">{{ text.title_english }}</a>
            <small> - <a href="{% url "author_page" text.author.id %}">{{ text.author.name_pinyin }}</a></small>
            <small> <span class="label label-default pull-right"><a href="{% url "read_text" text.id %}">Read</a></span></small>
        </h3>
        <p class="list-group-item-text">
          <div class="col-xs-3">
              {{ text.content_chinese|truncatewords_html:2|linebreaks }}
          </div>
          <div class="col-xs-9">
              {{ text.content_english|truncatewords_html:13|linebreaks }}
          </div>
        </p>
    </li>
{% empty %}
    <p>No text to display</p>
{% endfor %}
</ul>


{% endblock %}