{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Welcome to Stele Forest{% if user.is_authenticated %} {{ user.username }}{% endif %}!</h1>
<p>Here you will find some classical chinese texts. You can even add your own!</p>

<ul class="list-group">
{% for text in latest_texts %}
    <li class="list-group-item">
        <span class="badge"><a href="{% url "read_text" text.id %}">Read</a></span>
        <h3 class="list-group-item-heading">
            <a href="{% url "read_text" text.id %}">{{ text.title_english }}</a>
            <small><a href="{% url "author_page" text.author.id %}">{{ text.author.name_pinyin }}</a></small>
        </h3>
        <p class="list-group-item-text">{{ text.content_english|truncatewords_html:20|linebreaks }}</p>
    </li>
{% empty %}
    <p>No text to display</p>
{% endfor %}
</ul>

{% if is_paginated %}
    <nav>
      <ul class="pager">
       {% if page_obj.has_previous %}
        <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span>Newer</a></li>
       {% else %}
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span>Newer</a></li>
       {% endif %}
       {% if page_obj.has_next %}
        <li class="next"><a href="?page={{ page_obj.next_page_number }}">Older<span aria-hidden="true">&rarr;</span></a></li>
       {% else %}
        <li class="next disabled"><a href="#"><span aria-hidden="true">&rarr;</span>Older</a></li>
       {% endif %}
      </ul>
    </nav>
{% endif %}



{% endblock %}