{% extends "base.html" %}
{% block title %}Stele Forest Home Page{% endblock %}
{% block content %}

<h1>Welcome to Stele Forest!</h1>

{% for text in latest_texts %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{ text.title_french }} <small>{{ text.author.name_pinyin }}</small></h2>
    </div>
    <div class="panel-body">
        <p>{{ text.content_french|truncatewords_html:80 }}</p>
        <a href="{% url "read_text" text.id %}">Lire la suite</a>
    </div>
</div>
{% empty %}
    <p>No text to display</p>
{% endfor %}

{% endblock %}