{% extends "base.html" %}
{% load static %}
{% block title %}Poll{% endblock %}

{% block content %}

<h1>Give you opinion</h1>

<p>
If you have a minute, feel free to tell us what you want to see on this website by answering this small poll. Thanks a lot!
</p>
<script>(function(t,e,o,n){var s,c,i;t.SMCX=t.SMCX||[],e.getElementById(n)||(s=e.getElementsByTagName(o),c=s[s.length-1],i=e.createElement(o),i.type="text/javascript",i.async=!0,i.id=n,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/zEmkS_2Fi0JBLl8p8n6n2X1MHKHulYZoU_2BJyf0NdUbuVVUQkdXGo0iWHWwyoZI5aZl.js"].join(""),c.parentNode.insertBefore(i,c))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://fr.surveymonkey.com/mp/customer-satisfaction-surveys/> </a>


{% endblock %}