{% extends "base.html" %}
{% block title %}Poem - {{ text.title_chinese }}{% endblock %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{ text.title_chinese }} <small>{{ text.title_english }}</small></h1>
        <h2>{{ text.author.name_chinese }} <small><a href="{% url "author_texts" text.author.id %}">{{ text.author.name_pinyin }}</a></small></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default" id="panel_chinese">
                    <div class="panel-body"><p>{{ text.content_chinese|linebreaks }}</p></div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default" id="panel_english">
                    <div class="panel-body"><p>{{ text.content_english|linebreaks }}</p></div>
                </div>
            </div>
        </div class="row">
    </div>
    {% if user.is_authenticated %}
        <p><a href="{% url "update_text" text.id %}">Modify</a></p>
    {% endif %}
</div>

{% endblock %}