{% extends "base.html" %}

{% load static %}
{% load comments %}
{% load crispy_forms_tags %}

{% block title %}Poem - {{ text.title_chinese }}{% endblock %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{ text.title_chinese }} <small>{{ text.title_english }}</small>
        </h1>
        {% if text.content_lines and text.content_pinyin %}
            <small>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="btn-pinyin">
                            <span class="pinyin_collapse">No Pinyin</span>
                            <span class="pinyin_collapse" style="display: none">Pinyin</span>
                        </a></li>
                        <li><a href="#" class="btn-traditional">
                            <span class="char_traditional">Traditional</span>
                            <span class="char_traditional" style="display: none">Simplified</span>
                        </a></li>
                    </ul>
                </div>
            </small>
        {% endif %}
        <h2>{{ text.author.name_chinese }} <small><a href="{% url "author_page" text.author.id %}">{{ text.author.name_pinyin }}</a></small></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            {% if text.content_lines %}
                {% for line_chinese, line_pinyin, line_english, line_char_data in text.content_lines %}
                    <div class="col-sm-3" id="panel_text">
                        {% if not line_char_data %}
                            {{ line_chinese }}
                        {% else %}
                            {% for char_data in line_char_data %}
                                {% if not char_data.translation or char_data.is_special_character %}
                                    <!-- no translation means also no traditional character, a priori -->
                                    {{ char_data.character_simplified }}
                                {% else %}
                                    <span data-toggle="popover" data-trigger="hover" data-placement="top"
                                     title="{{ char_data.pinyin }}" data-content="{{ char_data.translation }}">
                                        <span class="char_traditional">{{ char_data.character_simplified }}</span>
                                        <span class="char_traditional" style="display: none">{{ char_data.character_traditional }}</span>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-9" id="panel_text">
                        {{ line_english }} <br>
                    </div>
                    {% if line_pinyin %}
                        <div class="pinyin_collapse">
                            <div class="col-sm-12" id="pinyin_small">
                                {{ line_pinyin }} <br>
                            </div>
                        </div>
                        <span class="pinyin_collapse" style="display: none">
                            <div class="col-sm-12" id="pinyin_small"></div>
                        </span>
                    {% endif %}
                {% endfor %}

            {% else %}
                <div class="col-sm-3" id="panel_text">
                    {% if not text.chars_data %}
                        {{ text.content_chinese|linebreaks }}
                    {% else %}
                        <p>
                        {% for char_data in chars_data_decoded %}
                            {% if char_data.is_line_break %}
                                <br>
                            {% elif not char_data.translation %}
                                {{ char_data.character_simplified }}
                            {% else %}
                                <span data-toggle="popover" data-trigger="hover" data-placement="top"
                                 title="{{ char_data.pinyin }}" data-content="{{ char_data.translation }}">
                                    {{ char_data.character_simplified }}
                                </span>
                            {% endif %}
                        {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="col-sm-9" id="panel_text">
                    {{ text.content_english|linebreaks }}
                </div>
            {% endif %}
        </div class="row">
    </div>
    {% if user.is_authenticated %}
        <p><a href="{% url "update_text" text.id %}">Modify</a></p>
    {% endif %}
</div>


<link rel="stylesheet" href="{% static 'css/comments.css' %}">


    <div class="detailBox">
        <div class="titleBox">
          <label>Comments</label>
        </div>
        {% get_comment_count for text as comment_count %}
        {% if not comment_count %}
            <div class="commentBox">
                <p class="taskDescription">There are no comments yet for this text.</p>
            </div>
        {% endif %}
            <div class="actionBox">
                {% if comment_count %}
                    {% get_comment_list for text as comment_list %}
                <ul class="commentList">
                    {% for comment in comment_list %}
                    <li>
                        <strong>{{ comment.user_name }}</strong>
                    <!--     <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/6" />
                        </div> -->
                        <div class="commentText">
                            <p class="">{{ comment.comment }}</p> <span class="date sub-text">{{ comment.submit_date }}</span>

                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if user.is_authenticated %}
                    {% get_comment_form for text as form %}
                    <form action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    {{ form.comment|as_crispy_field}}
                    {{ form.honeypot }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <input type="hidden" name="next" value="{% url 'read_text' text.id %}" />
                    <input type="submit" value="Add comment" id="id_submit" />
                    </form>
                {% else %}
                    You need to <a href="/log_in">log in</a> to leave a comment.
                {% endif %}



            <!--     <form class="form-inline" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your comments" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Add</button>
                    </div>
                </form> -->
            </div>
    </div>


{% if user.is_authenticated %}
    <div><small>Seen {{text.view_count}} times</small></div>
{% endif %}

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>


<script>

$(document).ready(function(){
    $(".btn-pinyin").click(function(){
        $(".pinyin_collapse").toggle()
    });
});

$(document).ready(function(){
    $(".btn-traditional").click(function(){
        $(".char_traditional").toggle()
    });
});

</script>


{% endblock %}